@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #57606646;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #59595abe;
}